@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Son of Cod Seafood - Roles";
}

@*@model List<IdentityRole>*@
<h3>Roles</h3>
<br />
@foreach (var role in Model)
{
    <p>@role.Name</p>
}
<a asp-controller="Roles" asp-action="Create">Create</a> | <a asp-controller="Roles" asp-action="Assign">Assign</a>