<!DOCTYPE html>
@using System.Security.Claims
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @* Materialize/CSS *@
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/css/materialize.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/styles.css" rel="stylesheet" type="text/css" />
    @* jQuery *@
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    @* Materialize JS *@
    <script src="~/Content/js/materialize.js"></script>
    @* Validation Scripts *@
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/js/materialize-jquery.js" type="text/javascript"></script>
</head>
<body>
    @if (User.IsInRole("Admin"))
    {
        <ul id="dropdown1" class="dropdown-content">
            <li><a asp-controller="Roles" asp-action="Index">Roles</a></li>
            <li class="divider"></li>
            <li><a asp-controller="Roles" asp-action="Create">Create</a></li>
            <li><a asp-controller="Roles" asp-action="Assign">Assign</a></li>
        </ul>
    }
    <nav>
        <div class="nav-wrapper light-blue darken-4">
            <div class="container">
                <a asp-controller="Home" asp-action="Index"
                   class="brand-logo">Son of Cod</a>
                <ul class="right hide-on-med-and-down">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><span class="grey-text">@User.Identity.Name</span></li>
                            <li><a asp-controller="Account" asp-action="Logout">Log Out</a></li>
                            <li><a asp-controller="Account" asp-action="Index">View Mail List</a></li>
                            @if (User.IsInRole("Admin"))
                            {

                                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Roles<i class="material-icons right">arrow_drop_down</i></a></li>
                            }

                    }
                    else
                    {
                        <li><a asp-controller="Account" asp-action="Signup">Signup</a></li>
                            <li><a asp-controller="Account" asp-action="Login">Log In</a></li>
                    }
                    @*<li><a asp-controller="Photos" asp-action="Index">Photos</a></li>*@
                </ul>
                <a href="#" data-activates="hamburger" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul class="side-nav" id="hamburger">
                    @*<li><a asp-controller="Photos" asp-action="Index">Photos</a></li>*@
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a asp-controller="Account" asp-action="Logout">Log Out</a></li>
                        <li><a asp-controller="Account" asp-action="Index">View Mail List</a></li>

                    }
                    else
                    {
                        <li><a asp-controller="Account" asp-action="Signup">Signup</a></li>
                            <li><a asp-controller="Account" asp-action="Login">Log In</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>



    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
