@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login";
}

<h2>Authentication with Identity</h2>

@if (User.Identity.IsAuthenticated)
{
    <h4>Hello @User.Identity.Name</h4>
    <h5>Here is your list of email signup users:</h5>
}
else
{
    <p>Unauthenticated...</p>
}