@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login";
}
@using SonOfCodSeafood.Models
@model List<PublicUser>

<h2>Mailing List</h2>
<div class="row">
    <div class="col s6">
        @if (User.Identity.IsAuthenticated)
        {
            <h4>Hello @User.Identity.Name</h4>
            <h5>Here's your list of email signup users:</h5>

            @foreach (var user in Model)
            {
                <p>@user.Email <br /> @user.Seafood</p>

            }
        }
        else
        {
            <p>Unauthenticated...</p>
        }
    </div>
    <div class="col s6 column-right">
        <img src="~/Content/image/lobster.jpg" />
    </div>

</div>