@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login";
}

<h2>Authentication with Identity</h2>

@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name</p>
}
else
{
    <p>Unauthenticated...</p>
}